{{ define "certificate/generate_certificate.html" }}

<div class="container-xl pt-5">
  <h2>Register here your new local certificate:</h2>
  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter IP address" name="pswd">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter domain" name="email">
      </div>
      <div class="col">
        <button type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </form>
</div>

{{ end }}
