{{ define "homepage/add_sub_domains.html" }}

<div class="container pt-5 mt-3">
  <h2>Register here your new local domain:</h2>
  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter port" name="pswd">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Select domain" name="pswd">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter subdomain" name="email">
      </div>
      <div class="col">
        <button type="button" class="btn btn-success">Add</button>
      </div>
    </div>
  </form>
</div>

{{ end }}
