{{ define "homepage/list_sub_domains.html" }}

<div class="container mt-3">
  <h2>Listed registered subdomains:</h2>
  <div class="table-responsive">
    <table class="table table-hover table-dark table-striped">
      <thead>
        <tr>
          <th>IP/Port</th>
          <th>Address</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        {{ range .subdomains }}
          {{ $domains := .Domain }}
          {{ $iped := (print "http://" $domains.IP ":" .Port "/" ) }}
          {{ $named := (print "https://" .Name "." $domains.Name "/" ) }}
          <tr>
            <td><a href="{{ $iped }}" target="_blank">{{ $iped }}</a></td>
            <td><a href="{{ $named }}" target="_blank">{{ $named }}</a></td>
            <td>
              <button type="button" class="btn btn-primary">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ end }}
