{{ define "homepage/list_sub_domains.html" }}

<div class="container mt-3">
  <h2>Listed registered subdomains:</h2>
  <div class="table-responsive">
    <table class="table table-hover table-dark table-striped">
      <thead>
        <tr>
          <th>IP/Port</th>
          <th>Address</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        {{ range .subdomains }}
        {{ $domains := .Domain }}
          <tr>
            <td><a href="http://{{ $domains.IP }}:{{ .Port }}/" target="_blank">http://{{ $domains.IP }}:{{ .Port }}/</a></td>
            <td><a href="https://{{ .Name }}.{{ $domains.Name }}/" target="_blank">https://{{ .Name }}.{{ $domains.Name }}/</a></td>
            <td>
              <button type="button" class="btn btn-primary">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ end }}
