{{ define "layouts/footer.html"}}

      <footer class="footer pt-5">
        <div class="container">
          <div class="row">
            <div class="text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a href="https://fazendaaa.github.io/TPM/" href="https://github.com/Fazendaaa/TPM" target=”_blank”>Traefik Proxy Manager</a>
                </li>
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">FOSS &#9825;</p>
            </div>
          </div>
        </div>
      </footer>

    </div> <!-- class="container mt-3" -->
  </div> <!-- class="container-xl pt-3 my-5 border text-white" -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

{{ end }}